body {
  margin: 0;
  background-color: gray;
  text-align: center;
  padding: 40px 20px;
}

/*Titolo*/
h1 { color: black; }

/*Sottotitolo*/
h2 {
  color: black;
  margin-bottom: 20px;
}

h2 {
  margin-top: 100px;
}

/*Box form*/
.form-box {
  background: yellow;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
}





