body {
  margin: 0;
  background-color: gray;
  text-align: center;
  padding: 40px 20px;
}

/*Titolo*/
h1 { color: black; }

/*Sottotitolo*/
h2 {
  color: black;
  margin-bottom: 20px;
}

h2 {
  margin-top: 100px;
}

/*Box form*/
.form-box {
  background: yellow;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
}

/*Input*/
.form-box input {
  width: 180px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

/* Bottone*/
.form-box button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background: red;
}

/*Biglietto*/
.ticket {
  background: green;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  font-size: 18px;
}









